<%# The Content Heading %>
<% if (title) { %>
<h1><%= title %> </h1>
<% } else {
    res.redirect('/')
} %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<form id="deleteForm" action="/inv/remove" method="post" >
    <span>Confirm Deletion - The delete is permanent.</span>
    <label for="inv_make">Make</label>
    <input type="text" id="inv_make" name="inv_make" value="<%= inv_make %>" required placeholder="Min of 3 characters" readonly>

    <label for="inv_model">Model</label>
    <input type="text" id="inv_model" name="inv_model" value="<%= inv_model %>" required placeholder="Min of 3 characters" readonly>

    <label for="inv_year">Year</label>
    <input type="number" id="inv_year" name="inv_year" value="<%= inv_year %>" required placeholder="4-digit year" readonly>

    <label for="inv_price">Price</label>
    <input type="number" id="inv_price" name="inv_price" value="<%= inv_price %>" step="any" required placeholder="decimal or integer" readonly>

    <input type="submit" name="submit" value="Delete Vehicle">

    <input type="hidden" name="inv_id" value="<%= inv_id %>">
</form>

<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="/js/inv-update.js"></script>